@import "../../theme/variables.scss";
page-contato {
    .header-image {
        height: 40vh;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: -1;
        width: 100%;
    }
    .main-content {
        margin-top: -80px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        position: relative !important;
        border: 1px solid #DFDFDF;
    }
    ion-avatar[item-left] {
        width: 50px;
        figure {
            margin: 0;
            img {
                width: 100%;
                height: unset;
                border-radius: 0;
            }
        }
    }
    figure {
        overflow: hidden;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 25px;
        &.perfil {
            position: inherit;
            width: 100px;
            height: 100px;
            margin: -70px auto 0;
            border-radius: 50px;
            border: 3px solid #DFDFDF;
        }
        img {
            width: 100%;
        }
    }
    ion-icon.avatarHeader.icon-md {
        font-size: 8em; // background-color: white;
        width: 100%;
        position: relative;
        bottom: 0.95rem;
        color: map_get($colors, orange_80);
    }
    ion-icon.avatarHeader.icon-ios {
        font-size: 8em; // background-color: white;
        width: 100%;
        position: relative;
        bottom: 0.92rem;
        color: map_get($colors, orange_80);
    }
    ion-icon.avatarGrande.icon-md {
        font-size: 3.74em;
    }
    ion-icon.avatarGrande.icon-ios {
        font-size: 3.56em;
    }
    .content-md {
        background-color: #FAFAFA;
        color: map-get($colors, secondary);
    }
    .content-ios {
        background-color: #FAFAFA;
        color: map-get($colors, secondary);
    }
    .profile-description {
        font-size: 15px;
        color: map-get($colors, secondary);
    }
    .ion_link {
        color: map-get($colors, secondary);
        text-decoration: none;
    }
    ion-list-header.list-header-ios {
        background-color: transparent;
        color: map-get($colors, orange_80);
        min-height: 35px;
        height: 35px;
        margin-top: 0px;
        padding: 0px;
    }
    ion-list-header.list-header-md {
        background-color: transparent;
        color: map-get($colors, orange_80);
        min-height: 35px;
        height: 35px;
        margin-top: -10px;
    }
    .contact-info {
        min-height: 38px;
        height: 38px;
    }
    ion-avatar {
        color: map_get($colors, orange_80);
    }
    .mesma-gerencia {
        color: map_get($colors, orange_80);
        min-height: 38px;
        height: 38px;
    }
    .list-item-cargo {
        font-size: 1em;
    }
    .list-item-cargo-1 {
        font-size: 0.8em;
    }
    .list-item-nome {
        max-width: 200px;
        /* Tamanho */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .list-item-nome-1 {
        overflow: hidden;
        width: 100%;
    }
    .select-modal {
        background: rgba(0, 0, 0, 0.5) !important;
        padding: 20% 10%  !important;
     }
}
