<ion-header>
  <ion-navbar color="primary_80">
    <ion-title>Gerências e Interesses</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar #filtro_bar placeholder="Procurar..." [(ngModel)]="filtro" (ionInput)="LimparFiltro($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [virtualScroll]="gerencias" [approxItemHeight]="'60px'" [bufferRatio]="4" [hidden]="gerencias.length == 0">
    <ion-item-sliding *virtualItem="let gerencia">
      <button ion-item (click)="filtrarGerencia(gerencia)" detail-none>
        <ion-avatar item-left>
          <ion-badge item-end>{{utilSrv.padLeft(gerencia.GerenciaCount,'0',2)}}</ion-badge>
        </ion-avatar>
        <h2>{{gerencia.Nome}}</h2>
        <p>{{gerencia.GerenciaExecutiva}}</p>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
